<!-- Contact Section -->
<section id="contact" style="position:relative;">
  <h2 class="lang en active">Contact</h2>
  <form id="contactForm">
    <input type="text" id="name" placeholder="Name" required>
    <input type="email" id="email" placeholder="Email" required>
    <textarea id="message" rows="5" placeholder="Message" required></textarea>
    <button class="btn">Send</button>
  </form>

  <p style="margin-top:25px; text-align:center; font-weight:bold;">
    Phone: +55 (31) 991400841
  </p>
</section>
