<!-- Contact Section -->
<section id="contact" class="section-container">
  <h2 class="lang en active">Contact</h2>
  <form id="contactForm" class="form-container">
    <input type="text" id="name" class="form-input" placeholder="Name" required>
    <input type="email" id="email" class="form-input" placeholder="Email" required>
    <textarea id="message" class="form-input" rows="5" placeholder="Message" required></textarea>
    <button class="btn form-btn">Send</button>
  </form>

  <p style="margin-top:25px; text-align:center; font-weight:bold;"> Phone: +55 (31) 991400841 </p>
</section>

