<header>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <nav>
    <!-- Logo and name header -->
    <div class="logo">
      <a href="index.html">
        <img src="images/logo.gif" alt="Logo" class="site-logo">
        <span class="lang-text" data-pt="<b>Jirando</b>" data-en="<b>Jirando</b>" data-es="<b>Jirando</b>"></span>
      </a>
    </div>
    <!-- Menu multi language -->
    <div class="menu">
      <a href="#hero" class="lang-text" data-pt="Home" data-en="Home" data-es="Inicio">Home</a>
      <a href="#about" class="lang-text" data-pt="Sobre Nós" data-en="About Us" data-es="Sobre Nosotros">Sobre Nós</a>
      <a href="#services" class="lang-text" data-pt="Serviços e Tecnologias" data-en="Services & Technologies" data-es="Servicios y Tecnologías">Serviços e Tecnologias</a>
      <a href="#success" class="lang-text" data-pt="Casos de Sucesso" data-en="Success Stories" data-es="Casos de Éxito">Casos de Sucesso</a>
      <a href="#contact" class="lang-text" data-pt="Contato" data-en="Contact" data-es="Contacto">Contato</a>
      <div class="lang-switch">
  <img src="images/flags/br.png" alt="Português" onclick="setLang('pt'); window.location.href='pt-br.html';">
  <img src="images/flags/us.png" alt="English" onclick="setLang('en'); window.location.href='en-us.html';">
  <img src="images/flags/es.png" alt="Español" onclick="setLang('es'); window.location.href='es-es.html';">
</div>
      </div>
    </div>
  </nav>
</header>