<header>
  <nav>
    <!-- Logo and name header -->
    <div class="logo">
      <a href="index.html">
        <img src="images/logo.gif" alt="Logo" class="site-logo">
        <span class="logo-name"><b>Jirando</b></span>
      </a>
    </div>

    <!-- Menu multi language -->
    <div class="menu">
      <a href="#hero" class="lang-text" data-pt="Home" data-en="Home" data-es="Inicio"></a>
      <a href="#about" class="lang-text" data-pt="Sobre Nós" data-en="About Us" data-es="Sobre Nosotros"></a>
      <a href="#services" class="lang-text" data-pt="Serviços e Tecnologias" data-en="Services & Technologies" data-es="Servicios y Tecnologías"></a>
      <a href="#success" class="lang-text" data-pt="Casos de Sucesso" data-en="Success Stories" data-es="Casos de Éxito"></a>
      <a href="#contact" class="lang-text" data-pt="Contato" data-en="Contact" data-es="Contacto"></a>

      <!-- Language flags -->
<div class="lang-switch">
  <img src="images/flags/br.png" alt="Português" onclick="window.location.href='pt-br.html'">
  <img src="images/flags/us.png" alt="English" onclick="window.location.href='en-us.html'">
  <img src="images/flags/es.png" alt="Español" onclick="window.location.href='es-es.html'">
</div>
    </div>
  </nav>
</header>